.pageNumber{
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNumber:hover{
    background-color: grey;
}

.pageNumberSelected{
    background-color: grey;
}
.disabled{
    color: grey;
}
Link{
    color:#3fabf3
}
select{
	font-size: 17px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 15px;
}