.appointments, .recent-activities,.calendar{
    border-radius: 10px;
    border: 2px solid #ddd;
}
.recent-activity{
    margin-top: 10px;
}
.body-content{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.body-content::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
.div_header{
    background-color: rgb(63, 171, 243);
    padding: 10px;
    color: white;
}
.div_content{
    padding: 10px;
    height: auto;
    overflow: hidden;
}
.main_div{
    height: 100%;
    background-color: #f0f2f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}