.appointment{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 10px;
    
}
.patient-profile-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.content{
    margin-top: 20px;

}
.content table{
    width: 60%;
}
.content td{
    width: 100%;
}
.content th{
    padding: 10px;
}
.no_appointments{
    width: 200px;
    height: 200px;
}