.main-div{
    padding: 50px;
    text-align: center;
}

em{
    font-size: 30px;
}

span .label{
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.card-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.access-card{
    padding: 20px;
}
