.services{
 
    padding: 50px;
    background-image: url("../soulmed-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    
}

.items{
    overflow-x: scroll;
    scroll-behavior: smooth;
}

em{
    font-size: 30px;
}

span.label{
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: rgb(63, 171, 243);
}

.service-card .card-img{
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card{
    cursor: pointer;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 5px solid #ddd ;
    padding: 10px;
}
.service-card:hover{
    transform: scale(1.1);
    margin-left: 10px;
    margin-right: 10px;
}

.items::-webkit-scrollbar {
    display: none;
  }
