.container-fluid,.products{
    padding: 30px;
}

strong{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.product-search-input {
    height: 60px;
    text-indent: 25px;
	border-radius: 10px ;
	display: block;
	border-style: none;
	width: 100%;
	padding: 20px;

}

.category-filter{
    height: 60px;
	border-radius: 10px ;
	display: block;
	border-style: none;
	width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 40px;
}

.category{
    padding: 10px;
    cursor: pointer;
    border: 2px solid #ddd;    
}
.key{
    padding: 20px;
    cursor: pointer;
    border: 2px solid #ddd; 
    width: 200px;
    display: flex;
    align-items: center;
}

.close{
    margin-left: 20px;
    border: 2px solid #ddd;
    cursor: pointer;
    padding: 10px;
    height: 100%;   
}



.category-div{
    margin-left: 10px;
   
}

.category:hover, .key:hover{
    background-color: grey;
}

.advanced-search-btn{
    background-color: #ddd;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#advanced-search-div{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.key-filter{
    margin-top: 60px;
}

.filter-keys{
    text-align: center;
}
.category-selected{
    background-color: cyan;
    height: 100%;
   border-left: none;
 
}
.category-selected:hover{
    background-color: cyan;
}
