.product-list-item{
    position: relative;
}

.overlay{
    position: absolute;
    top:20px;
    left:0;
    right:0;
    bottom: 0;
    opacity: 0;
    background: #1A1A1D;
    width: auto;
    height: auto;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.product-list-item:hover .overlay{
    opacity: 0.6;
    transform: translateY(0%);

}
.product-img{
    cursor: pointer;
    margin-top: 20px;
}
.overlay-content{
    height: 100%;
    width: inherit;
}

.pageNumber{
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNumber:hover{
    background-color: grey;
}

.pageNumberSelected{
    background-color: grey;
}
.disabled{
    color: grey;
}
Link{
    color:#3fabf3
}