.signup-title .title{
	font-weight: bold;
}
.signup-title .subtitle{
	line-height: 10px;
	font-size: 15px;
}

.signup-form select,.signup-form .form-check{
	height: 50px;
	font-size: 17px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 15px;
	margin-bottom: 15px;

}

.signup-btn .btn{
	padding: 0 100px;
}

.full-width{
	width: 100%;
}

.error{
	color: red;
}