svg{
	width: 40px;
	height: 20px;
	cursor: pointer;
}
.dropdown-header{
	position: relative;
	background-color: #fff;
	align-items: center;
	cursor: pointer;
	height: 60px;
}

.categories-header .down-chevron{
	position: absolute;
	right: 2px;
}

.categories-header .title{
	margin-left: 5px;
}
.search-input {
    height: 40px;
    text-indent: 25px;
	border-radius: 10px 0 0 0 ;
	display: block;
	border-style: none;
	width: 100%;
	padding-left: 10px;
}

.categories-dropdown,.search-dropdown{
	background-color: #fff;
    list-style: none;
    padding: 0;
    position: absolute;
	z-index: 2;
	margin: 0;
	width: 60%;
	height: 50%;
	-webkit-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);	
}

.search-dropdown{
	width: inherit;
	height: auto;
	overflow-y: scroll;
}

.dropdown-content{
	padding: 20px;
}

.dropdown-content:hover{
	background-color: #ddd;
	cursor: pointer;
}

ul{
	height: 100%;
}

ul li{
	list-style: none;
}

.categories{
	border-right: 2px solid #ddd;
	padding: 20px;
	overflow-y: scroll;
}

.selected{
	background-color: aqua;
}

.selected:hover{
	background-color: aqua;
}

.sub-categories{
	padding: 20px;
	text-align: center;
	overflow-y: scroll;
}

.search-btn{
	padding: 10px;
	background-color: chocolate;
	border-radius: 0 10px 10px 0;
	height: 60px;
	position: relative;
	display: block;
	color: white;
	cursor: pointer;

}
.right-chevron{
	width: 20px;
	margin-left: 20px;
}

.close-icon{
	width: 20px;
	font-weight: bold;
	margin-right: 20px;
	cursor: pointer;
}
.icon{
	position: absolute;
	left: 15px;
	color: grey;
	width:24px;
    height:24px;
	top:20px
}

.down-chevron{
	position: absolute;
	right:0px;
}

.around-me-icon{
	position: absolute;
	top: 18px;
	right: 5px;
	color: grey;
	width:24px;
    height:24px;
	top:20px;
	cursor: pointer;
	
}

.around-me-div {
	position: absolute;
	width: 100%;
	top: 0;
	left:5px;
	height: 100%;
	color: #2b4660;
	display: flex;
	align-items: center;
	-webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
	background-color: #fff;
	font-size: 14px;

}